html {
    font-weight: 600;
}

p {
    margin: 0;
}

select,
button {
    width: fit-content;
}

button {
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #f1f2f4;
}

button:hover {
    transition: ease 0.2s;
    background-color: #c9ced6;
}

input,
select {
    border-radius: 1rem;
    border: 1px solid #c9ced6;
    padding: 0.4rem;
}

input {
    width: clamp(10rem, 10vw, 15vw);
}

select {
    width: clamp(6rem, 4.5vw, 10vw);
}

main {
    padding-bottom: 3rem;
}

h2 {
    margin-bottom: 0;
}

sub {
    font-weight: normal;
}

.df-fxdr-jcc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}

.df-fxdc-aic {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
    gap: 0.5rem;
}

.df-fxdc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    height: fit-content;
}

.mt-0 {
    margin-top: 0;
}

.df {
    display: flex;
}

.g-5 {
    gap: 0.5rem;
}

.px-2r {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-2r {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-white {
    background-color: white;
}

@media only screen and (max-width: 1024px) {
    .df-fxdr-jcc {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2.5rem;
    }
}
